@-ms-viewport {width:device-width;}@viewport {width:device-width;}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display: block;}audio,canvas,video {display: inline-block;}audio:not([controls]) {display: none;height: 0;}[hidden],template {display: none;}html {-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}body {margin: 0;}a {background: transparent;}a:focus {outline: thin dotted;}a:active,a:hover {outline: 0;}h1 {font-size: 2em;margin: 0.67em 0;}abbr[title] {border-bottom: 1px dotted;}b,strong {font-weight: bold;}dfn {font-style: italic;}hr {-moz-box-sizing: content-box;box-sizing: content-box;height: 0;}mark {background: #ff0;color: #000;}code,kbd,pre,samp {font-family: monospace, serif;font-size: 1em;}pre {white-space: pre-wrap;}q {quotes: "\201C" "\201D" "\2018" "\2019";}small {font-size: 80%;}sub,sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}sup {top: -0.5em;}sub {bottom: -0.25em;}img {border: 0;}svg:not(:root) {overflow: hidden;}figure {margin: 0;}fieldset {border: 1px solid #c0c0c0;margin: 0 2px;padding: 0.35em 0.625em 0.75em;}legend {border: 0;padding: 0;}button,input,select,textarea {font-family: inherit;font-size: 100%;margin: 0;}button,input {line-height: normal;}button,select {text-transform: none;}button,html input[type="button"], input[type="reset"],input[type="submit"] {-webkit-appearance: button;cursor: pointer;}button[disabled],html input[disabled] {cursor: default;}input[type="checkbox"],input[type="radio"] {box-sizing: border-box;padding: 0;}input[type="search"] {-webkit-appearance: textfield;-moz-box-sizing: content-box;-webkit-box-sizing: content-box;box-sizing: content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}button::-moz-focus-inner,input::-moz-focus-inner {border: 0;padding: 0;}textarea {overflow: auto;vertical-align: top;}table {border-collapse: collapse;border-spacing: 0;}
html,
body {
	height: 100%;
}
body {
	width: 100%;
	/* position: relative; */
	font-size: 16px;
	font-family: Open Sans, sans-serif;
	font-weight: 400;
	line-height: 1.500;
	color: #3A3A3C;
	background: #9AD3CE;
	background-size: 100% 100%;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
a {
	color: inherit;
	text-decoration: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:hover,
a:active,
a:focus {
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: bottom;
}
p:first-child {
	margin-top: 0;
}
p:last-child {
	margin-bottom: 0;
}
b,
strong,
.bolder {
	font-weight: bold;
}
i,
em,
.italic {
	font-style: italic;
}
*,*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
[class^="fa-"],[class*=" fa-"] {
	font-style: normal;
	font-family: FontAwesome !important;
	-webkit-font-smoothing: antialiased;
}
::selection {
	color: #FFF;
	background: #67737C;
}
::-moz-selection {
	color: #FFF;
	background: #67737C;
}
/* * {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
} */
i.fa {
	font-style: normal;
}
table.respond {
	width: auto;
}
pre.prettyprint {
	background: #404445 !important;
	border: 0px solid transparent !important;
}
/*!
 * rest of content
 */
.container {
	background-color: #FFF;
	border: 1px solid transparent;
	margin: 0 auto;
}
.topbanner {
	height: 9px;
	background: transparent url(../img/topbanner.svg) top left repeat-x;
	background-size: 560px 60px;
	-webkit-transform: translate3d(0,0,0);
}
.no-svg .topbanner {
	background: transparent url(../img/topbanner.png) top left repeat-x;
	background-size: 560px 60px;
}
.topnavbar {
	width: 52px;
	height: 40px;
	position: absolute;
	top: 9px;
	left: 0;
	background: #49AFC1;
	padding: 10px;
}
.topnavbar a.leftnavbtn {
	display: inline-block;
	width: 32px;
	height: 20px;
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 0;
	line-height: 0;
	color: inherit;
	cursor: pointer;
	z-index: 1000;
}
.topnavbar a.leftnavbtn:before {
	width: 32px;
	height: 20px;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-top-width: 12px;
	border-bottom-width: 4px;
	border-top-style: double;
	border-bottom-style: solid;
	border-top-color: #FFF;
	border-bottom-color: #FFF;
}
.topnavbar {
	width: 52px;
	height: 40px;
	position: absolute;
	top: 23px;
	left: 14px;
	background: transparent;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
}
.topnavbar a.leftnavbtn {
	display: inline-block;
	width: 32px;
	height: 20px;
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 0;
	line-height: 0;
	color: inherit;
	cursor: pointer;
	z-index: 1000;
}
.topnavbar a.leftnavbtn:before {
	width: 32px;
	height: 20px;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-top-width: 12px;
	border-bottom-width: 4px;
	border-top-style: double;
	border-bottom-style: solid;
	border-top-color: #FFF;
	border-bottom-color: #FFF;
}
.topnavbar {
	width: 52px;
	height: 40px;
	position: absolute;
	top: 14px;
	left: 14px;
	background: inherit;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
}
.topnavbar a.leftnavbtn {
	display: inline-block;
	width: 32px;
	height: 20px;
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 0;
	line-height: 0;
	color: #FFF;
	cursor: pointer;
	z-index: 1000;
}
.topnavbar a.leftnavbtn:before {
	width: 32px;
	height: 20px;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-top: 12px double #414340;
	border-bottom: 4px solid #414340;
}
.topnavbar {
	display: inline-block;
	width: 64px;
	height: 64px;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0;
}
.leftnavbtn {
	display: inline-block;
	width: 100%;
	height: 100%;
	background: transparent url(../img/sitelogo-64x64.svg) left top no-repeat;
	background-size: 64px 64px;
	-webkit-transform: translate3d(0,0,0);
	cursor: pointer;
}
.no-svg .leftnavbtn {
	background: transparent url(../img/sitelogo-64x64.png) left top no-repeat;
	background-size: 64px 64px;
}
.header {
	width: 100%;
	height: 68px;
	text-align: center;
	background: #388FB2;
	vertical-align: top;
	margin: 0;
	padding: 0 24px;
}
.header h1 {
	display: inline-block;
	font-size: 29px;
	font-weight: 600;
	line-height: 36px;
	color: #FFF;
	margin: 16px 0 0 0;
}
.footer {
	width: 100%;
	height: 51px;
	font-size: 13px;
	font-weight: 400;
	line-height: 13px;
	text-align: center;
	color: #FFF;
	background: #3A3A3C;
	margin: 0 auto -1px auto;
}
.footer p {
	position: relative;
	top: 18px;
}
/*!
 * gridpak
 */
.row:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
	overflow: hidden;
	width: 0;
	font-size: 0;
	line-height: 0;
}
.col {
	border: 0px solid rgba(0,0,0,0);
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-background-clip: padding-box !important;
	-webkit-background-clip: padding-box !important;
	background-clip: padding-box !important;
}
.cf:before,
.cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	*zoom: 1;
}
/*!
 * vk_like
 */
.vk_like_holder {
	width: 100%;
	text-align: center;
	margin: 24px auto 18px auto;
}
.col ul + .vk_like_holder,
.col p + .vk_like_holder {
	margin-top: 0;
}
/*!
 * gist.github.com/englishextra/9348598
 * pastebin.com/i4w9B7zX
 */
.custom-dropdown {
	display: inline-block;
	width: 280px;
	position: relative;
	vertical-align: middle;
	margin: 0;
}
.custom-dropdown select {
	font-size: 1em;
	text-indent: 0.01px;
	text-overflow: '';
	color: #FFF;
	background-color: rgba(80, 111, 124, 1);
	border: 0;
	padding: .5em;
	margin: 0;
	-webkit-appearance: button;
}
.custom-dropdown::before,
.custom-dropdown::after {
	content: "";
	position: absolute;
	pointer-events: none;
}
.custom-dropdown::after {
	height: 1em;
	font-size: .625em;
	line-height: 1;
	right: 1.2em;
	top: 50%;
	content: "\25BC";
	margin-top: -.5em;
}
.custom-dropdown::before {
	width: 2em;
	right: 0;
	top: 0;
	bottom: 0;
}
.custom-dropdown select[disabled],
.custom-dropdown select[disabled]::after {
	color: #FFF;
	opacity: .375;
}
.custom-dropdown::before {
	background-color: rgba(0,0,0,.0375);
}
.custom-dropdown::after {
	color: #FFF;
}
.vk-50x50 {
	display: inline-block;
	font-size: 0;
	width: 50px;
	height: 50px;
	color: transparent;
	background: transparent url(../../codrops-animated-border-menus/img/vk-50x50.svg) top left no-repeat;
	background-size: 50px 50px;
	-webkit-transform: translate3d(0,0,0);
	padding: 0;
	margin: 0;
}
.no-svg .vk-50x50 {
	background: transparent url(../../codrops-animated-border-menus/img/vk-50x50.png) top left no-repeat;
	background-size: 50px 50px;
}
.vimeo-50x50 {
	display: inline-block;
	font-size: 0;
	width: 50px;
	height: 50px;
	color: transparent;
	background: transparent url(../../codrops-animated-border-menus/img/vimeo-50x50.svg) top left no-repeat;
	background-size: 50px 50px;
	-webkit-transform: translate3d(0,0,0);
	padding: 0;
	margin: 0;
}
.no-svg .vimeo-50x50 {
	background: transparent url(../../codrops-animated-border-menus/img/vimeo-50x50.png) top left no-repeat;
	background-size: 50px 50px;
}
.twitter-50x50 {
	display: inline-block;
	font-size: 0;
	width: 50px;
	height: 50px;
	color: transparent;
	background: transparent url(../../codrops-animated-border-menus/img/twitter-50x50.svg) top left no-repeat;
	background-size: 50px 50px;
	-webkit-transform: translate3d(0,0,0);
	padding: 0;
	margin: 0;
}
.no-svg .twitter-50x50 {
	background: transparent url(../../codrops-animated-border-menus/img/twitter-50x50.png) top left no-repeat;
	background-size: 50px 50px;
}
.github-50x50 {
	display: inline-block;
	font-size: 0;
	width: 50px;
	height: 50px;
	color: transparent;
	background: transparent url(../../codrops-animated-border-menus/img/github-50x50.svg) top left no-repeat;
	background-size: 50px 50px;
	-webkit-transform: translate3d(0,0,0);
	padding: 0;
	margin: 0;
}
.no-svg .github-50x50 {
	background: transparent url(../../codrops-animated-border-menus/img/github-50x50.png) top left no-repeat;
	background-size: 50px 50px;
}
.instagram-50x50 {
	display: inline-block;
	font-size: 0;
	width: 50px;
	height: 50px;
	color: transparent;
	background: transparent url(../../codrops-animated-border-menus/img/instagram-50x50.svg) top left no-repeat;
	background-size: 50px 50px;
	-webkit-transform: translate3d(0,0,0);
	padding: 0;
	margin: 0;
}
.no-svg .instagram-50x50 {
	background: transparent url(../../codrops-animated-border-menus/img/instagram-50x50.png) top left no-repeat;
	background-size: 50px 50px;
}
@media (min-width: 1px) and (max-width: 320px) {
	.custom-dropdown {
		width: 100%;
	}
}
/*!
 * tomorrow-night-eighties.fixed.min.css
 */
.pln {
	color: #CCCCCC;
}
@media screen {
	.str {
		color: #99CC99;
	}
	.kwd {
		color: #CC99CC;
	}
	.com {
		color: #999999;
	}
	.typ {
		color: #6699CC;
	}
	.lit {
		color: #F99157;
	}
	.pun {
		color: #CCCCCC;
	}
	.opn {
		color: #CCCCCC;
	}
	.clo {
		color: #CCCCCC;
	}
	.tag {
		color: #F2777A;
	}
	.atn {
		color: #F99157;
	}
	.atv {
		color: #66CCCC;
	}
	.dec {
		color: #F99157;
	}
	.var {
		color: #F2777A;
	}
	.fun {
		color: #6699CC;
	}
}
@media print, projection {
	.str {
		color: #006600;
	}
	.kwd {
		color: #006;
		font-weight: bold;
	}
	.com {
		color: #600;
		font-style: italic;
	}
	.typ {
		color: #404;
		font-weight: bold;
	}
	.lit {
		color: #004444;
	}
	.pun,
	.opn,
	.clo {
		color: #444400;
	}
	.tag {
		color: #006;
		font-weight: bold;
	}
	.atn {
		color: #440044;
	}
	.atv {
		color: #006600;
	}
}
ol.linenums {
	margin-top: 0;
	margin-bottom: 0;
}
/*!
 * jquery.webks-responsive-table.fixed.min.js
 */
.webks-responsive-table dl dt,
.webks-responsive-table dl dd {
	display: inline-block;
	width: 77%;
	font-size: 14px;
	line-height: 21px;
	margin: 0 0 1px 0 !important;
	padding: 5px 1% !important;
}
.webks-responsive-table dl dd:before {
	content: "";
}
.col.span_2 .webks-responsive-table dl dt,
.col.span_3 .webks-responsive-table dl dt,
.col.span_4 .webks-responsive-table dl dt,
.col.span_2 .webks-responsive-table dl dd,
.col.span_3 .webks-responsive-table dl dd,
.col.span_4 .webks-responsive-table dl dd {
	font-size: 13px;
	line-height: 19px;
}
.webks-responsive-table dl dt {
	width: 23%;
	font-style: italic;
	font-weight: 600;
	text-align: right;
	vertical-align: top;
	color: #FFF;
	background: #5D5D5D;
}
.webks-responsive-table dl dd:nth-of-type(odd) {
	background: #F4F4F4;
}
.webks-responsive-table dl dt:nth-of-type(even) {
	background: #5D5D5D;
}
/*!
 * jquery.sidr.dark.fixed.min.css
 */
.sidr {
	display: none;
	position: fixed;
	top: 0;
	height: 100%;
	z-index: 999999;
	width: 280px;
	overflow-x: none;
	overflow-y: auto;
	font-family: inherit;
	font-size: 15px;
	color: #FFF;
	background-color: #4C4C4C;
}
.sidr .sidr-inner {
	padding: 0 0 15px;
}
.sidr.left {
	left: -280px;
	right: auto;
}
.sidr.right {
	left: auto;
	right: -280px;
}
.sidr ul {
	display: block;
	margin: 0 0 15px;
	padding: 0;
}
.sidr ul li {
	display: block;
	margin: 0;
	line-height: 48px;
	border-bottom: 1px solid #565656;
	text-align: left;
}
.sidr ul li:hover,
.sidr ul li:active,
.sidr ul li:focus,
.sidr ul li.active,
.sidr ul li.sidr-class-active {
	background-color: #565656;
}
.sidr ul li:last-child {
	border-bottom-color: transparent;
}
.sidr ul li a, .sidr ul li span {
	padding: 0 15px;
	display: block;
	text-decoration: none;
	color: inherit;
}
.sidr ul li ul {
	margin: 0;
}
/*!
 * ui.totop.min.css
 * pastebin.com/9F7UKvTz
 */
#toTop {
	width: 50px;
	height: 50px;
	display: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	text-decoration: none;
	text-indent: 100%;
	background: transparent url(../../../CDN/UItoTop-jQuery-Plugin/4f154af48f018bd931dd34efd1eb67f6538b8e02/1.2/img/totop-50x50.svg) top left no-repeat;
	background-size: 50px 50px;
	-webkit-transform: translate3d(0,0,0);
	border: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.no-svg #toTop {
	background: transparent url(../../../CDN/UItoTop-jQuery-Plugin/4f154af48f018bd931dd34efd1eb67f6538b8e02/1.2/img/totop-50x50.png) top left no-repeat;
	background-size: 50px 50px;
}
#toTopHover {
	width: 50px;
	height: 50px;
	float: left;
	display: block;
	overflow: hidden;
	background: transparent url(../../../CDN/UItoTop-jQuery-Plugin/4f154af48f018bd931dd34efd1eb67f6538b8e02/1.2/img/totop-50x50.svg) top left no-repeat;
	background-size: 50px 50px;
	-webkit-transform: translate3d(0,0,0);
}
.no-svg #toTopHover {
	background: transparent url(../../../CDN/UItoTop-jQuery-Plugin/4f154af48f018bd931dd34efd1eb67f6538b8e02/1.2/img/totop-50x50.png) top left no-repeat;
	background-size: 50px 50px;
}
#toTop:hover {
	opacity: 0.5 !important;
}
/*!
 * cssload.net/#sthash.zjPWF4Wm.dpuf
 */
#circularG {
	width: 128px;
	height: 128px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -58px;
	margin-left: -58px;
}
.circularG {
	position: absolute;
	background-color: #FFF;
	width: 29px;
	height: 29px;
	-moz-border-radius: 19px;
	-moz-animation-name: bounce_circularG;
	-moz-animation-duration: 1.04s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: linear;
	-webkit-border-radius: 19px;
	-webkit-animation-name: bounce_circularG;
	-webkit-animation-duration: 1.04s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: linear;
	-ms-border-radius: 19px;
	-ms-animation-name: bounce_circularG;
	-ms-animation-duration: 1.04s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-direction: linear;
	-o-border-radius: 19px;
	-o-animation-name: bounce_circularG;
	-o-animation-duration: 1.04s;
	-o-animation-iteration-count: infinite;
	-o-animation-direction: linear;
	border-radius: 19px;
	animation-name: bounce_circularG;
	animation-duration: 1.04s;
	animation-iteration-count: infinite;
	animation-direction: linear;
}
#circularG_1 {
	left: 0;
	top: 50px;
	-moz-animation-delay: 0.39s;
	-webkit-animation-delay: 0.39s;
	-ms-animation-delay: 0.39s;
	-o-animation-delay: 0.39s;
	animation-delay: 0.39s;
}
#circularG_2 {
	left: 14px;
	top: 14px;
	-moz-animation-delay: 0.52s;
	-webkit-animation-delay: 0.52s;
	-ms-animation-delay: 0.52s;
	-o-animation-delay: 0.52s;
	animation-delay: 0.52s;
}
#circularG_3 {
	top: 0;
	left: 50px;
	-moz-animation-delay: 0.65s;
	-webkit-animation-delay: 0.65s;
	-ms-animation-delay: 0.65s;
	-o-animation-delay: 0.65s;
	animation-delay: 0.65s;
}
#circularG_4 {
	right: 14px;
	top: 14px;
	-moz-animation-delay: 0.78s;
	-webkit-animation-delay: 0.78s;
	-ms-animation-delay: 0.78s;
	-o-animation-delay: 0.78s;
	animation-delay: 0.78s;
}
#circularG_5 {
	right: 0;
	top: 50px;
	-moz-animation-delay: 0.91s;
	-webkit-animation-delay: 0.91s;
	-ms-animation-delay: 0.91s;
	-o-animation-delay: 0.91s;
	animation-delay: 0.91s;
}
#circularG_6 {
	right: 14px;
	bottom: 14px;
	-moz-animation-delay: 1.04s;
	-webkit-animation-delay: 1.04s;
	-ms-animation-delay: 1.04s;
	-o-animation-delay: 1.04s;
	animation-delay: 1.04s;
}
#circularG_7 {
	left: 50px;
	bottom: 0;
	-moz-animation-delay: 1.17s;
	-webkit-animation-delay: 1.17s;
	-ms-animation-delay: 1.17s;
	-o-animation-delay: 1.17s;
	animation-delay: 1.17s;
}
#circularG_8 {
	left: 14px;
	bottom: 14px;
	-moz-animation-delay: 1.3s;
	-webkit-animation-delay: 1.3s;
	-ms-animation-delay: 1.3s;
	-o-animation-delay: 1.3s;
	animation-delay: 1.3s;
}
@-moz-keyframes bounce_circularG {
	0% {
		-moz-transform: scale(1);
	}
	100% {
		-moz-transform: scale(.3);
	}
}
@-webkit-keyframes bounce_circularG {
	0% {
		-webkit-transform: scale(1);
	}
	100% {
		-webkit-transform: scale(.3);
	}
}
@-ms-keyframes bounce_circularG {
	0% {
		-ms-transform: scale(1);
	}
	100% {
		-ms-transform: scale(.3);
	}
}
@-o-keyframes bounce_circularG {
	0% {
		-o-transform: scale(1);
	}
	100% {
		-o-transform: scale(.3);
	}
}
@keyframes bounce_circularG {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(.3);
	}
}
#page {
	display: none;
	background: transparent url(../img/bg.svg) top left repeat;
	background-size: 417px 417px;
	-webkit-transform: translate3d(0,0,0);
}
.no-svg #page {
	background: transparent url(../img/bg.png) top left repeat;
	background-size: 417px 417px;
}
#searchfield {
	width: 9em;
}
/*!
 * media queries
 */
@media (min-width: 1px) and (max-width: 319px) {
	.container {
		clear: both;
		margin: 0 auto;
		max-width: 100%;
		padding: 0 0 24px 0;
	}
	.row {
		margin-left: -0px;
	}
	.col {
		border-left-width: 0;
		padding: 0 10px;
		float: none;
	}
	.header {
		text-align: left;
	}
	.header h1 {
		max-width: 100%;
		font-size: 18px;
		line-height: 20px;
		margin-top: 12px;
		margin-left: 55px;
	}
	.col img {
		max-width: 100%;
	}
}
@media (min-width: 320px) and (max-width: 380px) {
	.container {
		clear: both;
		margin: 0 auto;
		max-width: 100%;
		padding: 0 0 24px 0;
	}
	.row {
		margin-left: -0px;
	}
	.col {
		border-left-width: 0;
		padding: 0 10px;
		float: none;
	}
	.header {
		text-align: left;
	}
	.header h1 {
		max-width: 100%;
		font-size: 18px;
		line-height: 20px;
		margin-top: 12px;
		margin-left: 55px;
	}
	.col img {
		max-width: 100%;
	}
}
@media (min-width: 381px) and (max-width: 420px) {
	.container {
		clear: both;
		margin: 0 auto;
		max-width: 100%;
		padding: 0 0 24px 0;
	}
	.row {
		margin-left: -0px;
	}
	.col {
		border-left-width: 0;
		padding: 0 10px;
		float: none;
	}
	.header {
		text-align: left;
	}
	.header h1 {
		max-width: 100%;
		font-size: 18px;
		line-height: 20px;
		margin-top: 12px;
		margin-left: 55px;
	}
	.col img {
		max-width: 100%;
	}
}
@media (min-width: 421px) and (max-width: 480px) {
	.container {
		clear: both;
		margin: 0 auto;
		max-width: 100%;
		padding: 0 0 24px 0;
	}
	.row {
		margin-left: -0px;
	}
	.col {
		border-left-width: 0;
		padding: 0 24px;
		float: none;
	}
	.header {
		text-align: left;
	}
	.header h1 {
		max-width: 100%;
		font-size: 18px;
		line-height: 20px;
		margin-top: 12px;
		margin-left: 55px;
	}
	.col img {
		max-width: 100%;
	}
}
@media (min-width: 481px) and (max-width: 719px) {
	.container {
		clear: both;
		margin: 0 auto;
		max-width: 100%;
		padding: 0 0 24px 0;
	}
	.row {
		margin-left: -0px;
	}
	.col {
		border-left-width: 0;
		padding: 0 24px;
		float: none;
	}
	.header {
		text-align: left;
	}
	.header h1 {
		max-width: 100%;
		font-size: 18px;
		line-height: 20px;
		margin-top: 22px;
		margin-left: 55px;
	}
	.col img {
		max-width: 100%;
	}
}
@media (min-width: 720px) and (max-width: 959px) {
	.container {
		clear: both;
		margin: 0 auto;
		max-width: 100%;
		padding: 0 0 24px 0;
	}
	.row {
		margin-left: -0px;
	}
	.col {
		border-left-width: 0;
		padding: 0 24px;
		float: none;
	}
	.col img {
		max-width: 100%;
	}
}
@media screen and (min-width: 960px) {
	.container {
		clear: both;
		margin: 0 auto;
		max-width: 960px;
		padding: 0 0 24px 0;
	}
	.row {
		margin-left: -0px;
	}
	.col {
		border-left-width: 0;
		padding: 0 24px;
	}
	.span_1 {
		width: 8.33333333333%;
	}
	.span_2 {
		width: 16.6666666667%;
	}
	.span_3 {
		width: 25.0%;
	}
	.span_4 {
		width: 33.3333333333%;
	}
	.span_5 {
		width: 41.6666666667%;
	}
	.span_6 {
		width: 50.0%;
	}
	.span_7 {
		width: 58.3333333333%;
	}
	.span_8 {
		width: 66.6666666667%;
	}
	.span_9 {
		width: 75.0%;
	}
	.span_10 {
		width: 83.3333333333%;
	}
	.span_11 {
		width: 91.6666666667%;
	}
	.span_12 {
		margin-left: 0;
		width: 100%;
	}
	.col img {
		max-width: 100%;
	}
}
/*!
 * custom
 */
.sf_articlesreadingrulesutf_stat_holder {
	visibility: hidden;
}
.col .mejs-container {
	display: inline-block;
	width: 260px !important;
	margin-top: 24px;
}
.col table td,
.col table th {
	font-size: 14px;
	line-height: 21px;
}
.topnavbar {
	width: 52px;
	height: 40px;
	position: absolute;
	top: 14px;
	left: 14px;
	background: inherit;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
}
.topnavbar a.leftnavbtn {
	display: inline-block;
	width: 32px;
	height: 20px;
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 0;
	line-height: 0;
	color: #FFF;
	cursor: pointer;
	z-index: 1000;
}
.topnavbar a.leftnavbtn:before {
	width: 32px;
	height: 20px;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-top: 12px double #414340;
	border-bottom: 4px solid #414340;
}
/*!
i-skool.co.uk/mobile-development/web-design-for-mobiles-and-tablets-viewport-sizes/
At least requires the meta viewport tag with content 'width=device-width'
*/
@media only screen and (max-width: 1080px) and (orientation: portrait) {
/*! PORTRAIT:
Windows Surface Pro*/
	html {
		font-size: 110%;
	}
	.container {
		max-width: 760px;
	}
}
@media only screen and (max-width: 800px) and (orientation: portrait) {
/*! PORTRAIT:
Acer Iconia Tab A100
Acer Iconia Tab A200
Acer Iconia Tab A502
Arnova 8C G3
ASUS Padfone
ASUS Transformer Pad TF300T
ASUS Transformer TF101
Motorola Xoom
Motorola Xoom 2
Samsung Galaxy Note 10.1
Samsung Galaxy Tab 8.9
Samsung Galaxy Tab 10.1
Samsung Galaxy Tab 10.1*/
	html {
		font-size: 130%;
	}
	.container {
		max-width: 100%;
		margin: 66px auto;
	}
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
/*! PORTRAIT:
Apple iPad
Apple iPad 2
Apple iPad 3 (and 4)
Apple iPad Mini
Archos 80G9
BAUHN AMID-972XS
HP Touchpad
LG Optimus Pad
Microsoft Surface (RT)
Panasonic Toughpad A1
Kindle Paperwhite*/
	html {
		font-size: 130%;
	}
	.container {
		max-width: 100%;
		margin: 66px auto;
	}
}
@media only screen and (max-width: 640px) and (orientation: portrait) {
/*! PORTRAIT:
Acer Iconia Tab A500
Arnova 7FG3
Nexus 7*/
	html {
		font-size: 130%;
	}
	.container {
		max-width: 100%;
		margin: 66px auto;
	}
}
@media only screen and (max-width: 600px) and (orientation: portrait) {
/*! PORTRAIT:
Acer Iconia Tab A101
Archos 70b (it2)
Arnova 10b G3
BlackBerry PlayBook
Kindle 3
Kobo eReader Touch
Samsung Galaxy Tab 2 7.0
Samsung Galaxy Tab 7*/
	html {
		font-size: 120%;
	}
	.container {
		max-width: 100%;
		margin: 66px auto;
	}
}
@media only screen and (max-width: 540px) and (orientation: portrait) {
/*! PORTRAIT:
HTC Evo 3D
Kindle Fire HD 7
Kindle Fire HD 8.9
Ainol Novo 7 Elf 2*/
	html {
		font-size: 120%;
	}
	.container {
		max-width: 100%;
		margin: 66px auto;
	}
}
@media only screen and (max-width: 480px) and (orientation: portrait) {
/*! PORTRAIT:
Arnova 7 G2
BlackBerry Bold 9780
HTC Desire Z
Nokia N900
Samsung Galaxy Grand*/
	html {
		font-size: 110%;
	}
	.container {
		max-width: 100%;
		margin: 66px auto;
	}
}
@media only screen and (max-width: 400px) and (orientation: portrait) {
/*! PORTRAIT:
Samsung Galaxy Note
Nexus 4
HTC One S
HTC One XL
HTC Sensation XL
HTC Velocity 4G
Motorola Droid3
Motorola Droid Razr
Motorola Razr HD 4G
Motorola Razr M 4G
Nokia 500
Samsung Galaxy Note 2
Samsung Galaxy S3
BlackBerry Bold 9900
BlackBerry 9520
BlackBerry Z10*/
	html {
		font-size: 110%;
	}
	.container {
		max-width: 100%;
		margin: 66px auto;
	}
}
@media only screen and (max-width: 360px) and (orientation: portrait) {
/*! PORTRAIT:
Apple iPhone 3G
Apple iPhone 3GS
Apple iPhone 4
Apple iPhone 4S
Apple iPhone 5
Apple iPod Touch
BlackBerry Bold 9360
BlackBerry Bold 9790
BlackBerry Curve 9320
BlackBerry Curve 9380
BlackBerry Torch 9800
BlackBerry Torch 9810
HP Veer
HTC 7 Mozart
HTC 7 Trophy
HTC Desire
HTC Desire C
HTC Desire HD
HTC Legend
HTC One V
HTC Titan 4G
HTC Wildfire S
HTC Windows Phone 8X
Huawei U8650
LG Optimus 2X
LG Optimus L3
Motorola Defy
Motorola Milestone
Nexus S
Nokia Lumia 610
Nokia Lumia 710
Nokia Lumia 800
Nokia Lumia 820
Nokia Lumia 900
Nokia Lumia 920
Samsung Galaxy Ace
Samsung Galaxy Ace 2
Samsung Galaxy S2
Sony Xperia E Dual
BlackBerry Curve 9300*/
	html {
		font-size: 100%;
	}
	.container {
		max-width: 100%;
		margin: 66px auto;
	}
}
@media only screen and (max-width: 240px) and (orientation: portrait) {
/*! PORTRAIT:
LG Viewty KU990
Nokia 700
Nokia 2700
Nokia N95
Samsung Galaxy S3 Mini
Nokia 300*/
	html {
		font-size: 90%;
	}
	.container {
		max-width: 100%;
		margin: 66px auto;
	}
}
@media only screen and (max-width: 1920px) and (orientation: landscape) {
/*! LANDSCAPE:
Windows Surface Pro*/
	html {
		font-size: 110%;
	}
	.container {
		max-width: 760px;
	}
}
@media only screen and (max-width: 1366px) and (orientation: landscape) {
/*! LANDSCAPE:
Microsoft Surface (RT)*/
	html {
		font-size: 110%;
	}
	.container {
		max-width: 760px;
	}
}
@media only screen and (max-width: 1280px) and (orientation: landscape) {
/*! LANDSCAPE:
Acer Iconia Tab A100
Acer Iconia Tab A200
Acer Iconia Tab A502
ASUS Transformer Pad TF300T
ASUS Transformer TF101
Motorola Xoom
Motorola Xoom 2
Samsung Galaxy Note 10.1
Samsung Galaxy Tab 8.9
Samsung Galaxy Tab 10.1
Samsung Galaxy Tab 10.1
LG Optimus Pad
Acer Iconia Tab A500*/
	html {
		font-size: 110%;
	}
	.container {
		max-width: 760px;
	}
}
@media only screen and (max-width: 1130px) and (orientation: landscape) {
/*! LANDSCAPE:
ASUS Padfone
Arnova 8C G3
Arnova 7FG3*/
	html {
		font-size: 110%;
	}
	.container {
		max-width: 760px;
	}
}
@media only screen and (max-width: 1024px) and (orientation: landscape) {
/*! LANDSCAPE:
Apple iPad
Apple iPad 2
Apple iPad 3 (and 4)
Apple iPad Mini
Archos 80G9
BAUHN AMID-972XS
HP Touchpad
Panasonic Toughpad A1
Acer Iconia Tab A101
Archos 70b (it2)
Arnova 10b G3
BlackBerry PlayBook
Samsung Galaxy Tab 2 7.0
Samsung Galaxy Tab 7
Ainol Novo 7 Elf 2*/
	html {
		font-size: 110%;
	}
	.container {
		max-width: 760px;
	}
}
@media only screen and (max-width: 980px) and (orientation: landscape) {
/*! LANDSCAPE:
Nexus 7
HTC Evo 3D*/
	html {
		font-size: 110%;
	}
	.container {
		max-width: 760px;
	}
}
@media only screen and (max-width: 802px) and (orientation: landscape) {
/*! LANDSCAPE:
Kindle Fire HD 7
Kindle Fire HD 8.9
Arnova 7 G2
HTC Desire Z
Nokia N900
Samsung Galaxy Grand*/
	html {
		font-size: 130%;
	}
	.container {
		max-width: 100%;
		margin: 66px auto;
	}
}
@media only screen and (max-width: 691px) and (orientation: landscape) {
/*! LANDSCAPE:
BlackBerry 9520*/
	html {
		font-size: 130%;
	}
	.container {
		max-width: 100%;
		margin: 66px auto;
	}
}
@media only screen and (max-width: 640px) and (orientation: landscape) {
/*! LANDSCAPE:
Samsung Galaxy Note
HTC One S
HTC One XL
HTC Sensation XL
HTC Velocity 4G
Motorola Droid Razr
Nokia 500
Samsung Galaxy Note 2
Samsung Galaxy S3*/
	html {
		font-size: 130%;
	}
	.container {
		max-width: 100%;
		margin: 66px auto;
	}
}
@media only screen and (max-width: 600px) and (orientation: landscape) {
/*! LANDSCAPE:
Motorola Droid3
Nexus 4
Motorola Razr HD 4G
Motorola Razr M 4G
Motorola Defy
Motorola Milestone
Apple iPhone 5
HP Veer*/
	html {
		font-size: 120%;
	}
	.container {
		max-width: 100%;
		margin: 66px auto;
	}
}
@media only screen and (max-width: 540px) and (orientation: landscape) {
/*! LANDSCAPE:
HTC Desire
HTC Desire HD
HTC One V
LG Optimus 2X
Nexus S
Samsung Galaxy Ace 2
Samsung Galaxy S2
BlackBerry Z10*/
	html {
		font-size: 120%;
	}
	.container {
		max-width: 100%;
		margin: 66px auto;
	}
}
@media only screen and (max-width: 480px) and (orientation: landscape) {
/*! LANDSCAPE:
Apple iPhone 3G
Apple iPhone 3GS
Apple iPhone 4
Apple iPhone 4S
Apple iPod Touch
BlackBerry Torch 9800
BlackBerry Torch 9810
HTC 7 Mozart
HTC 7 Trophy
HTC Desire C
HTC Legend
HTC Titan 4G
HTC Wildfire S
HTC Windows Phone 8X
Huawei U8650
Nokia Lumia 610
Nokia Lumia 710
Nokia Lumia 800
Nokia Lumia 820
Nokia Lumia 900
Nokia Lumia 920
Samsung Galaxy Ace
Sony Xperia E Dual*/
	html {
		font-size: 110%;
	}
	.container {
		max-width: 100%;
		margin: 66px auto;
	}
}
@media only screen and (max-width: 320px) and (orientation: landscape) {
/*! LANDSCAPE:
Samsung Galaxy S3 Mini*/
	html {
		font-size: 100%;
	}
	.container {
		max-width: 100%;
		margin: 66px auto;
	}
}
/*!
 * a fix for navbutton to stay above the title
 */
@media only screen and (min-width: 801px) and (max-width: 920px) {
	.container {
		margin: 66px auto;
	}
}
